<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loveshop.mapper.DutyAssignmentMapper">
    <select id="selectAdminOnDuty" resultType="Admin">
        SELECT admin.*
        FROM loveshop.t_admin admin
                 LEFT JOIN loveshop.t_duty_assignment da
                           ON da.aid = admin.aid
        WHERE da.time = #{time}
    </select>

    <select id="selectOnDutyDetail" resultType="DutyAssignment">
        SELECT *
        FROM loveshop.t_duty_assignment
        WHERE time = #{time}
    </select>
</mapper>