<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加图书</title>
    <link rel="stylesheet" href="../lib/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/addBook.css">
</head>

<body>
    <div class="container banner" id="banner">
        <div class="row">
            <a href="./workspace.html" class="banner-close col-xs-1">×</a>
            <div class="banner-text col-xs-11">添加图书</div>
        </div>
    </div>

    <div class="book-form" id="book-form">
        <div class="input-group form-part">
            <span class="input-group-addon">ISBN</span>
            <input type="text"
            v-model="isbn"
            class="form-control"
            name="isbn"
            id="isbn"
            placeholder="只输入13位数字">
        </div>
        <div class="input-group form-part">
            <span class="input-group-addon">书名</span>
            <input type="text"
            v-model="bookName"
            class="form-control"
            name="bookName"
            id="bookName"
            placeholder="格式 书名-版本-出版社">
        </div>
        <div class="input-group form-part">
            <span class="input-group-addon">数量</span>
            <input type="text"
            v-model="bookCount"
            class="form-control"
            name="bookCount"
            id="bookCount"
            placeholder="请输入数量">
        </div>
        <div class="input-group form-part">
            <span class="input-group-addon">价格</span>
            <input type="text"
            v-model="bookPrice"
            class="form-control"
            name="bookPrice"
            id="bookPrice"
            placeholder="请输入价格">
        </div>
        <div class="input-group form-part">
            <span class="input-group-addon">作者</span>
            <input type="text"
            v-model="author"
            class="form-control"
            name="author"
            id="author"
            placeholder="多个作者取前两个，中间用*隔开">
        </div>
        <div class="input-group form-part">
            <span class="input-group-addon">位置</span>
            <input type="text"
            v-model="location"
            class="form-control"
            name="location"
            id="location"
            placeholder="格式 书架编号-正反面-层数 xx-x-xx">
        </div>

        <button type="button" 
        @click="submitBook"
        class="btn btn-outline-primary form-button">
        添加
    </button>
    </div>


    <script src="../lib/jquery-3.1.1.js"></script>
    <script src="../lib/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="../lib/vue.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/qs/6.10.1/qs.js"></script>
    <script src="http://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../js/ipconfig.js"></script>
    <script src="../js/addBook.js"></script>
</body>

</html>